@import "styles/variables.scss";

.loader {
  background-color: white;
  background-image: url("/assets/images/texture.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inner {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.logoWrap {
  max-width: 500px;
  opacity: 0;
  width: 50%;
  img {
    width: 100%;
  }
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: initial;
  }
  .logoMobile {
    display: none;
  }
}
