$color-main: #353535;
$max-width: 1000px;
$spacing: 2rem;

.title {
  font-size: 2 4px;
  font-weight: 400px;
  letter-spacing: -4.5%;
  line-height: 29px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.text-small {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
