.work {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/assets/images/texture.jpg");
  background-size: cover;
  background-position: center center;

  h1 {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -1px;
    text-align: center;
    width: 50%;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
    color: #8c8c8c;
    margin-left: calc(20px + 8px + 16px);
    margin-right: 44px;
    letter-spacing: -1px;
    transition: 75ms opacity ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemWrap {
  width: 100%;

  padding: 2rem 0 3rem;
  border-bottom: 1px solid #8c8c8c;
  iframe {
    margin-top: 2rem;
  }
  &:last-child {
    border: none;
  }
}

.items {
  min-height: 60vh;
  width: 100%;
}

.vimeoWrap {
  padding: 56.25% 0 0 0;
  position: relative;
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.iframeWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.video {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .items {
    margin-bottom: 8rem;
  }
  .iframeWrap {
    flex-direction: row;
    justify-content: space-between;
  }
  .videos {
    margin-bottom: 4rem;
  }
  .video {
    width: 49%;
    iframe {
      margin-top: 1rem;
    }
  }
  .work {
    padding-top: 12rem;
    h1 {
      font-size: 45px;
      width: 50%;
      margin-bottom: 4rem;
    }
    h3 {
      font-size: 20px;
      margin-left: calc(28px + 8px);
      padding: 0;
    }
  }
}
